/* Overordnede generelle indstillinger START  */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    margin: 0 auto;
    font-size: 62.5%;
}

body {
    margin: 0 auto;
}

img {
    width: 100%;
}

header {
    min-height: 10px;
}

.hidden {
    display: none;
}

/* Overordnede generelle indstillinger SLUT  */

/* Menu desktop -menu-sidebar- START */

#menu-sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    /*    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);*/
    z-index: 1009;
    float: left;
    background-color: #f2f1f1;
    display: none;
}

#menu-sidebar a {
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
    font-size: 10px;
}

#menu-sidebar a:hover {
    color: #f85858;
    box-shadow: -5px 18px 22px -20px rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
    filter: brightness(1.5);
    left: 5%;
}


.top-menu {
    text-align: center;
}


.middle-menu {
    border: 0px solid;
    position: fixed;
    top: 30%;
    width: 200px;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    width: 200px;
    padding-bottom: 2rem;
}

ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #d9d9d9;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logoBillede {
    background-image: url(Logo/loogogogogo.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 50px;
}



/* Menu desktop -menu-sidebar- SLUT */
/* Menu Mobil START */

#mobil-top-Menu {}

.MenuMobilBox {
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    background-image: url(navbillede/navbillede.jpg);
    width: 100vw;
    height: 100px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {}


#mobil-top-Menu img {
    width: 80%;
}

#menuMobil {
    width: 100vw;
    height: 300px;
    background-color: #f2f1f1;
    z-index: 5000;
    position: absolute;
    top: 50px;
}

#menuMobil a {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: black;
    display: block;
    line-height: 2;
}

.burgermenu {
    margin-bottom: 20px;
    float: right;
    text-align: right;
}

/* de tre div'er som bliver til burgermenu knappen */
.bar1,
.bar2 {
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.bar3 {
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

/* animation fra burgermenu til kryds */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Menu Mobil SLUT */

/* Grid struktur og main start  */

main {
    margin: 0 auto;
    background-color: #ffffff;
}

main article {
    /* bruges til de ting der bliver hentet ind fra sheet */
    display: block;
}

article {
    /* bruges til mad-kategori billeder, som er articles udenfor main */
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 300px;
    display: flex;
}


#kategori-container {
    /* mad kategorierne */
    display: grid;
    grid-template-columns: repeat (1, 1fr);
    grid-auto-rows: auto;
}

.data-container {
    /* container til de articles der printes fra sheetet */
    text-align: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 300px;
    margin: 0 auto;
}


/* sætter flex på og aligner center så al tekst står i midten af billederne på forside kategorierne */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 100px;
    width: 100%;
}



main article:nth-child(even) {
    /* skal nok bare slettes hvis vi ikke vil bruge den */
    background: #fadede;
}

main article:nth-child(odd) {
    /* skal nok bare slettes hvis vi ikke vil bruge den */
    background: #e3ddf7;
}


article h1 {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    align-self: center;
    font-weight: bold;
}

/* De forskellige billeder til forsiden */

.Billede {
    background-size: cover;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

.koedbillede {
    background-image: url(billede/k%C3%B8d.png);
}

.fiskbillede {
    background-image: url(billede/fisk.png);
}

.vegetarbillede {
    background-image: url(billede/vegetar.png);
}

.drikkevarerbillede {
    background-image: url(billede/drikkevarer.png);
}

/* Grid struktur og main SLUT */

/* Pop op vindue START */

#popUp {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(180, 173, 173, 0.77);
    display: none;
    text-align: center;
}

.indhold {
    width: 60vw;
    min-height: 50vh;
    background: #fff;
    margin: 4rem auto;
    padding: 10px;
}

#popUp .billede {
    width: 50%;
}

.luk {
    /* luk knappen */
    position: fixed;
    right: 0;
    font-size: 2rem;
}

/* Pop op vindue SlUT */


/* filtrering START   gør ikke noget pt. */

.valgt {
    color: black;
    background-color: white;
}

/* filtrering SLUT */




/* overskrift på splash billede  start*/

#overskrift {
    position: absolute;
    top: 110px;
    left: 10px;
    color: snow;
    font-size: 2rem;
    text-transform: uppercase;
}

#paragraphtxt {
    position: absolute;
    top: 150px;
    left: 12px;
    line-height: 15px;
    color: aliceblue;
    font-size: 0.9rem;
}

/* overskrift på splash slut */

#splash {
    width: 100%;
    margin-top: 5px;
}

.mySlides {
    width: 100%;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.mySlides {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: 0.8s ease;
    backface-visibility: hidden;
    filter: brightness(0.4);
}

.container:hover .mySlides {
    transform: scale(0.94);
    filter: brightness(0.6);
}

/* Splash billede SLUT */

/* media queries START */
@media only screen and (min-width: 600px) {

    .container {
        position: relative;
        width: 100%;
    }

    main {
        margin-left: 200px;
    }

    #menu-sidebar {
        display: block;
    }

    .data-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px;
    }

    #mobil-top-Menu {
        display: none;
    }

    #menu-sidebar a {
        font-size: 18px;
        margin: 20px;
        padding-top: 5vh;
    }

    #menu-siderbar li {
        padding-top: 20px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 900px) {

    .data-container {
        grid-template-columns: repeat(2, 1fr);

    }

    #kategori-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 20px;
        margin-left: 200px;
    }


    #splash {
        margin-left: 200px;
    }

}



/* media queries SLUT */
