/* Overordnede generelle indstillinger START  */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

html {
    margin: 0 auto;
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    position: relative;
}

.baggrundsbillede {
    background-image: url(navbillede/a271e41a965b047d793a9d79e201f0f7.jpg);
    background-size: cover;
    min-height: 100vh;
}

img {
    width: 100%;
}

header {
    min-height: 10px;
}

.hidden {
    display: none;
}

/* Overordnede generelle indstillinger SLUT  */

/* Menu desktop -menu-sidebar- START */

#menu-sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    /*    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);*/
    z-index: 1009;
    float: left;
    background-color: rgba(176, 203, 165, 0.53);
    display: none;
    padding-top: 2rem;
    border-right: 0.5px solid black;
    border-right: 1px solid #d9d9d9;
    box-shadow: 0 0 16px -6px #000000;
    -webkit-box-shadow: 0 0 16px -6px #000000;
    text-decoration: none;
    transition: 0.3s;
    font-size: 26.5px;
    cursor: pointer;
}

#menu-sidebar a {
    text-decoration: none;
    transition: 0.3s;




    cursor: pointer;

}


#menu-sidebar a:hover {
    color: #454242;
    /*
    transform: scale(1.1);
    filter: brightness(1.5);
    left: 5%;*/


}


.top-menu {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 25px;
}


.middle-menu {
    border: 0px solid;
    position: fixed;
    top: 35%;
    width: 200px;

}

.middle-menu a {
    color: beige;
}

.bottom-menu {

    border-top: 1px solid black;

    position: fixed;
    bottom: 0;
    height: 112px;
    width: 200px;
    color: lightgrey;
}


.socialBox,
#socialBox {
    text-align: center;
    font: normal normal normal 14px/1 FontAwesome;
}

.kontakt-menu {
    position: fixed;
    bottom: 120px;

}

#kontakt-menu a {
    color: lightgrey;
    font-size: 2rem;

}

.bottom-menu p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    margin-left: 25px;

}

li {


    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
}





.logoBillede {
    background-image: url(Logo/Logo.svg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;

    margin-left: 10px;

    transform: scale(1.5);
}



/* Menu desktop -menu-sidebar- SLUT */
/* Menu Mobil START */




#mobil-top-Menu {}

.MenuMobilBox {
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    background-image: url(navbillede/navbillede.jpg);
    width: 100vw;
    height: 115px;

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: black;
}

.MenuMobilBox a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;

}

nav {}


#mobil-top-Menu img {
    width: 80%;
}

#menuMobil {
    position: absolute;
    width: 100vw;
    min-height: 500px;
    background-color: #b0cba5;
    z-index: 5000;
    position: absolute;
    top: 0;
    padding: 20px;
    transform-origin: 0% 0%;
    transform: translate(50%, 20%%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    float: right;
    right: 0;
}


#menuMobil img {
    width: 30%;
}


#menuMobil a {

    text-align: center;
    font-size: 2.3rem;
    text-decoration: none;
    color: white;
    display: block;
    line-height: 2;


}

#menuMobil a:hover {
    color: #622626;
}

#menuMobil li {
    border-bottom: 1px solid white;
}



#menuMobil li:first-child {
    border-bottom: none;
}


.burgermenu {
    padding-top: 20px;
    z-index: 8000;
    margin-bottom: 20px;
    float: right;
    text-align: right;
}

/* de tre div'er som bliver til burgermenu knappen */
.bar1,
.bar2 {
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;

}

.bar3 {
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;

}

/* animation fra burgermenu til kryds */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*
#menu {
    position: absolute;
    width: 180px;
    height: 200px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}


#menu li {
    padding: 10px 0;
    transition-delay: 2s;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

#menu li a {
    transition: 200ms;
}
*/


/* Menu Mobil SLUT */

/* Grid struktur og main start  */

main {
    margin: 0 auto;
    background-color: #ffffff;
    background-color: transparent;
}

main article {
    /* bruges til de ting der bliver hentet ind fra sheet */
    display: block;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.24);
    cursor: pointer;


}

article {
    /* bruges til mad-kategori billeder, som er articles udenfor main */
    transition: all 0.8s ease 0s;
    min-height: 10px;
    display: flex;

}


article h2 {
    color: black;
    text-align: center;
    position: relative;
    font-size: 3.5rem;
    margin: 0;
    margin: 20px auto;

    padding-bottom: 5px;


}

article .kort {
    color: black;
    font-size: 2rem;
}

article .pris {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px auto;

}

.billedeContainer {
    max-height: 400px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin: 20px;
}

#kategori-container {
    /* mad kategorierne */
    display: grid;
    grid-template-columns: repeat (1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3px;
    cursor: pointer;
    transition: 0.8s ease;
    backface-visibility: hidden;
    display: none;
    padding-bottom: 111px;

}

#kategori-container article:hover {
    transform: scale(0.96);
    transition: 0.8s ease-in-out;
    backface-visibility: hidden;

}



.data-container {
    /* container til de articles der printes fra sheetet */
    text-align: center;
    display: grid;
    backface-visibility: visible;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: transparent;
    margin: 0 auto;
    padding-bottom: 111px;



}


/* sætter flex på og aligner center så al tekst står i midten af billederne på forside erne */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 115px;
    width: 100%;
}

.black {
    background-color: black;

}


main article:nth-child(even) {
    /* skal nok bare slettes hvis vi ikke vil bruge den */

}

main article:nth-child(odd) {
    /* skal nok bare slettes hvis vi ikke vil bruge den */

}


article h1 {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    align-self: center;
    font-weight: bold;
}

/* De forskellige billeder til forsiden */

.Billede {
    background-size: cover;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

.koedbillede {
    background-image: url(KategoriBIlleder/k%C3%B8d.png);
}

.fiskbillede {
    background-image: url(KategoriBIlleder/fisk.png);
}

.vegetarbillede {
    background-image: url(KategoriBIlleder/vegetar.png);
}

.drikkevarerbillede {
    background-image: url(KategoriBIlleder/drikkevarer.png);
}

/* Grid struktur og main SLUT */

/* Pop op vindue START */

#popUp {

    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;

    background: rgba(44, 44, 44, 0.77);
    display: none;
    text-align: center;
    z-index: 8100;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.indhold {
    position: relative;
    align-content: center;
    width: 80vw;
    background: #fff;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;


}

.indholdBillede {
    background-image: url(navbillede/baggrund_popup.png);
    background-size: auto;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;

}

#popUp article {
    border: none;
    margin: 0 auto;
    padding-top: 20px;

}

.buttonContainer {

    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}

#popUp button {
    width: 80px;
    height: 40px;
    background-color: #ed870f;
    color: white;

    opacity: 0.8;

}

#popUp img {
    border-radius: 0%;

}

#popUp h2 {
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

#popUp .enkeltRet {
    display: flex;


}

.popUpDesktop {
    flex-grow: 1;
    border-right: 2px solid black;
    display: none;
    flex-basis: 200px;
    cursor: default;
}

.popUpMobil {
    flex-grow: 2;
    flex-basis: 500px;
    cursor: default;
}

#popUp .billede {
    width: 100%;
    padding: 10px;

}

#popUp .pris {
    padding-bottom: 25px;

}

#popUp .kort {

    text-align: center;
}



.luk {
    /* luk knappen */
    float: right;
    right: 0;
    font-size: 2.5rem;
    background-color: rgba (255, 255, 255, 0.74);
    color: black;
    min-height: 50px;


}

.lukPopUp {
    cursor: pointer;

}

/* Pop op vindue SlUT */


/* filtrering START   gør ikke noget pt. */



/* filtrering SLUT */




/* overskrift på splash billede  start*/

#overskrift {
    position: absolute;
    top: 110px;
    padding-left: 5rem;
    color: snow;
    font-size: 2rem;
    text-transform: uppercase;
}

#paragraphtxt {
    position: absolute;
    top: 150px;
    padding-left: 5rem;
    line-height: 18px;
    color: aliceblue;
    font-size: 1.4rem;
}

/* overskrift på splash slut */
/* footer */


.fa {
    padding: 10px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 90%
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: rgba(59, 89, 152, 0.7);
    color: white;
}

/* Instagram */
.fa-instagram {
    background: rgba(193, 53, 132, 0.7);
    color: white;
}

/*/ Gmail /*/
.fa-google {
    background: rgba(221, 75, 57, 0.7);
    color: white;
}




footer {
    max-height: 111px;
    width: 100vw;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    color: white;

}

footer p {
    padding-bottom: 4px;
}

.socials {
    max-width: 100vw;
    align-self: center;

}



#splash {
    width: 100%;


}

.mySlides {
    width: 100%;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.mySlides {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: 0.8s ease;
    backface-visibility: hidden;
    filter: brightness(0.6);
}

.container:hover .mySlides {
    transform: scale(0.96);
    filter: brightness(0.8);
}

/* Splash billede SLUT */

/* media queries START */
@media only screen and (min-width: 650px) {

    .logoBillede {
        height: 150px;
    }


    .container {
        position: relative;
        width: 100%;
    }



    .socials {
        display: none;
    }



    footer h1 {
        display: none;
    }

    .socialsDesktop a {
        color: white;

    }



    .data-container {
        grid-template-columns: repeat(2, 1fr);
        /*grid-template-rows: 400px;*/
    }

    .billedeContainer {}





    #menu-siderbar li {
        padding-top: 20px;
        margin-top: 20px;
    }



    #overskrift {
        top: 50px;
        font-size: 2.5rem;
        padding-left: 5rem;
    }

    #paragraphtxt {
        top: 120px;
        font-size: 1.2rem;
        padding-left: 5rem;
        line-height: normal;
    }

    .MenuMobilBox,
    .item {
        height: 140px;
    }


}

@media only screen and (min-width: 940px) {

    .indholdBillede {
        background-image: url(navbillede/baggrund_popup.png);
        background-size: cover;


    }

    #popUp {
        right: 0;
    }

    #popUp article {
        padding-top: 0;
    }

    #popUp h2 {
        margin-top: 50px;
        margin-bottom: 35px;
    }

    #popUp .billede {
        width: 50%;
        padding: 10px;
        margin-top: 125px;
    }

    .popUpDesktop {
        display: inline-block;
    }

    .popUpDesktop img {
        width: 60%;
    }

    .popUpMobil .logoBillede {
        display: none;
    }

    #popUp button {
        width: 120px;
        height: 65px;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .kortDesktop {
        font-size: 3.5rem;
        margin-top: 75px;
        margin-bottom: 75px;

        font-weight: 400;
        line-height: 35px;

    }

    .buttonContainer {

        margin-right: 100px;
        margin-left: 100px;
    }



    .prisDesktop {

        font-size: 3rem;
        margin-top: 150px;
        margin-bottom: 75px;
        font-weight: 700;

    }

    #popUp .pris {
        display: none;

    }

    #popUp .kort {

        display: none;
    }


    .kortMobil,
    .prisMobil {
        display: none;
    }

    header {
        min-height: 0px;
        height: 0px;
    }

    main {
        margin-left: 200px;
    }

    footer {
        position: absolute;
        padding-left: 200px;




        /* margin-right: 200px; */


    }

    #menu-sidebar {
        display: block;
    }

    #mobil-top-Menu {
        display: none;
    }

    #splash,
    #kategori-container {
        padding-left: 200px;
    }


    .data-container {
        /* container til de articles der printes fra sheetet */
        text-align: center;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 400px;*/
        margin: 0 auto;

    }


    #kategori-container {

        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 5px;
        padding-left: 200px;
    }

    #overskrift {
        top: 50px;
        font-size: 4rem;
        padding-left: 5rem;
    }

    #paragraphtxt {
        top: 120px;
        font-size: 2rem;
        padding-left: 5rem;
        line-height: normal;
    }

    #splash {
        padding-left: 200px;
    }

}

@media only screen and (min-width: 1000px) {
    .data-container {
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 400px;*/
    }



}

@media only screen and (min-width: 1300px) {

    #overskrift {
        top: 50px;
        font-size: 5rem;

    }

    #paragraphtxt {
        top: 150px;
        font-size: 3rem;

        line-height: normal;
    }

    .data-container {
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 600px;*/
    }


}


/* media queries SLUT */
